<!DOCTYPE html>
<html>
    <head>
        <title><%= locals.title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel='stylesheet' href='/stylesheets/index.css' />
    </head>
    <body>
        <div class="container clearfix">
            <div class="header clearfix">
                <h1 class="header-tit fl">社团管理系统</h1>
                <%if(locals.clubId){%>
                <a href="/" class="btn-primary btn-s hearder-club-list">返回社团列表</a>
                <%}%>
                <%if(locals.user){%>
                <div class="header-user fr"><%= locals.user.name %>  <a href="/quit/" class="btn-warn btn-s">退出登录</a></div>
                <%}else{%>
                <div class="header-user fr"><a href="/login/" class="btn-success btn-s">登录</a>  <a href="/reg/" class="btn-primary btn-s">注册</a></div>
                <%}%>
            </div>
            <div class="main">
                <%include left-nav.ejs%>
                <div class="main-content">
                     <%- body%>
                </div>
            </div>
            
        </div>
        <div class="mask"></div>
        <script type="text/javascript" src="/javascripts/jquery-1.11.2.min.js"></script>
        <script src="https://cdn1.lncld.net/static/js/av-mini-0.6.4.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
    </body>
</html>
