<form class="reg-form default-container clearfix" method="post" data-type="login">
    <fieldset class="default-box">
        <h3 class="form-group-tit">用户登录</h3>
        <div class="form-group">
            <label for="username">用户名：</label><input type="text" class="form-control" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="password">密码：</label><input type="password" class="form-control" id="password" name="password"/>
        </div>
    <button type="submit" class="btn-primary btn-m form-submit-btn">登录</button>
    </fieldset>
</form>