<form class="reg-form default-container clearfix" method="post" data-type="reg">
    <fieldset class="default-box">
        <h3 class="form-group-tit">用户注册</h3>
        <div class="form-group">
            <label for="username"><span class="form-required">*</span>用户名：</label><input type="text" class="form-control" id="username" name="username"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="password"><span class="form-required">*</span>密码：</label><input type="password" class="form-control" id="password" name="password"/>
        </div>
        <div class="form-group">
            <label class="control-label" for="password-repeat"><span class="form-required">*</span>再次输入密码： </label><input type="password" class="form-control" id="password-repeat" name="password-repeat"/>
        </div>
    <button type="button" class="btn-primary btn-m form-submit-btn">提交</button>
    </fieldset>
</form>